@charset 'UTF-8';

/*---------------------
1.Document
2.header
3.main
4.section
5.footer
-----------------------*/

/*---------------------
    1.Document
-----------------------*/
:root {
    --base-color: #dbeef7;
    --main-color:#23335a;
    --sub-color:#13adad;
    --accent-color:#d94b32;
    --title-font: Helvetica;
}

html {
    font-size: 62.5%;
}

body {
    color: #333;
    font-size: 18px;
    font-family: メイリオ, Meiryo,"ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 游ゴシック体, "Yu Gothic", YuGothic, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}

h2 {
    font-size: 3.052em;
}

h3 {
    font-size: 1.563em;
}

h4, h5, h6 {
    font-size: 1.25em;
}

img {
    max-width: 100%;
    height: auto;
}
/* ローディング画面 */
#loading {
    width: 100vw;
    height: 100vh;
    transition: all 2s;
    background-color: #13adad;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.load4 .loader {
    color: #ffffff;
    font-size: 20px;
    margin: 50vh auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }

.loaded {
    opacity: 0;
    visibility: hidden;
}

/*---------
2.header
-----------*/

.header {
    width: 100%;
    background: -webkit-linear-gradient(#13adad 0%,#23335a 65%,#020024 100%);
    background: -moz-linear-gradient(#13adad 0%,#23335a 65%,#020024 100%);
    background: linear-gradient(#13adad 0%,#23335a 15%,#020024 50%,#23335a 85%,#13adad 100%);
}
.header img {
    max-width: 90%;
    height: auto;
    margin-top: calc(3% + 20px);
    margin-left: 5%;
    margin-bottom: calc(3% + 20px);
}

.header h1 {
  margin-bottom: -0.25em;
}

.header .title {
    color: var(--base-color);
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.2em;
    position: absolute;
    top: min(15%, 125px);
    left: 1.5em;
}

/*------------------------
3.mainのスタイル
-------------------------*/

.main {
    background: var(--base-color);
    font-family: 'Noto Sans JP';
}

/*----------------------
4.sectionのスタイル
------------------------*/
section {
    padding-bottom: 5rem;
    border-bottom: 1px solid #cccccc;
}

.section-title {
    max-width: 100%;
    color: var(--base-color);
    font-family: var(--title-font);
    font-weight: bold;
    letter-spacing: 0.15em;
    margin-top: 5rem;
    margin-bottom: 2rem;
    background: var(--main-color);
    border-left: 1rem solid #d94b32;
}
.section-title-description {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 2.5em;
    padding-left: 1em;
}

.section01 img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
}
.skill-description {
    margin: 2em auto 1em;
    max-width: 300px;
    word-break: normal;
}

.section02 {
    background: #b7e4e4;
}

.work {
    width: 400px;
    height: 300px;
    margin: 1rem auto 1rem;
    position: relative;
    overflow: hidden;
}

.work-image {
    position: absolute;
    width: 400px;
    height: 300px;
    transition: all 0.5s ease-out;
    transform: matrix3d(
        1, 0, 0, 0,
        0, 1, 0, 0,
        0, 0, 1, 0,
        0, 0, 0, 1
    );
    will-change: transform;
}
.work-image:hover {
    transform: matrix3d(
        1, 0, 0, 0,
        0, 1, 0, 0,
        0, 0, 1, 0,
        0, 0, 0, 0.9
    );
}

.work-image01 {
    background: url("../images/tenpo.jpg");
    background-size: cover;
}

.work-image02 {
    background: url("../images/hattori.jpg");
    background-size: cover;
}

.work-image03 {
    background: url("../images/kawabata.jpg");
    background-size: cover;
}

.work-image04 {
    background: url("../images/labwel.jpg");
    background-size: cover;
}

.work-image-title {
    max-width: 400px;
    margin: 3rem auto 3rem;
    padding-bottom: 5px;
    font-family: "Noto Serif JP", "游明朝", Yu Mincho,"Hiragino Mincho ProN W3", "Hiragino Mincho ProN", "HG明朝E", "MS P明朝", "MS明朝", serif;
    border-bottom: 1px solid #333333;
}

.work-table {
  margin: auto auto;
  max-width: 400px;
  text-align: left;
}

.work-table th {
  width: 400px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.work-table td {
  width: 400px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*---------------------------
    5.footerのスタイル
-----------------------------*/

.footer {
    color: var(--base-color);
    background: var(--main-color);
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}
