@media screen and (max-width: 1024px) {
    .header .title {
        top: min(15%, 125px);
    }
}

@media screen and (max-width: 990px) {
    .work {
        width: 300px;
        height: 200px;
    }
    .work-image {
        width: 300px;
        height: 200px;
    }
}

@media screen and ( max-width: 768px ) {
    body {
        font-size: 16px;
    }

    .header .title {
        font-size: 3em;
        top: min(20%, 200px);
        left: 10vw;
    }

    .work {
        width: 300px;
        height: 200px;
        margin: 0 auto;
    }
    .work-image {
        width: 300px;
        height: 200px;
    }
}

@media screen and ( max-width: 580px) {
    .header .title {
        font-size: 10vw;
        top: min(15%, 150px);
    }

    .section-title {
        font-size: 2.5em;
    }
    .section-title-description {
        font-size: 1.5em;
    }
}
